<h1><center>Лабораторна робота 1.</center></h1>
<h2><center>Аналіз доходу населення за набором даних Adult Data Set</center></h2>

**Виконав:** Казіонов М.А.

**Варіант:** №12

<a class="anchor" id="lab-1"></a>

## Зміст

1. [Завантаження і знайомство з даними](#lab-1.1)
2. [Завдання](#lab-1.2)

<a class="anchor" id="lab-1.1"></a>

## <span style="color:blue; font-size:1.2em;">1.1. Завантаження та підготовка даних</span>

[Повернутися до змісту](#lab-1)

У лабораторній роботі пропонується за допомогою Pandas відповісти на кілька запитань за набором даних [Adult](https://archive.ics.uci.edu/ml/datasets/adult) сховища UCI.

Унікальні значення ознак набору даниз Adult Data Set (більше інформації в описі [Adult](https://archive.ics.uci.edu/ml/datasets/adult)):

- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

Завантажимо `Pandas` та переглянемо вміст набору даних.

In [63]:
import pandas as pd
import numpy as np

In [2]:
adult_data_url = 'https://raw.githubusercontent.com/radiukpavlo/intelligent-data-analysis/main/02_assignments/ida_lab-01_adult_pandas/adult.data.csv'

data = pd.read_csv(adult_data_url)
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

-----
<a class="anchor" id="lab-1.2"></a>

## <span style="color:blue; font-size:1.2em;">1.2. Завдання</span>

[Повернутися до змісту](#lab-1)

Варіанти завдань відповідають списку студентв групі. Дайте відповіді на запитання з використанням бібліотеки `Pandas`.

### <span style="color:red; font-size:1.5em;">Завдання 1</span>

**Для варіантів 11-20:**

Яку кількість жінок (ознака *sex*) подано в наборі даних UCI Adult Data Set?

In [10]:
# Ваш код тут
data[data['sex'] == 'Female']['sex'].value_counts()

Female    10771
Name: sex, dtype: int64

### <span style="color:red; font-size:1.5em;">Завдання 2</span>

**Для варіантів 11-20:**

Який середній вік (ознака *age*) чоловіків?

In [17]:
# Ваш код тут
round(data[data['sex'] == 'Male']['age'].mean())

39

### <span style="color:red; font-size:1.5em;">Завдання 3</span>

**Для варіантів 11-15:**

Яка частка громадян США (у %, ознака *native-country*) в наборі даних?

In [139]:
# Ваш код тут
round((data['native-country'].value_counts(normalize=True)  * 100)['United-States'], 2)

89.59

### <span style="color:red; font-size:1.5em;">Завдання 4</span>


**Для варіантів 11-20:**

Які середні значення і середньоквадратичні відхилення віку тих, хто отримує зарплату більше 50K на рік (ознака *salary*)?

In [75]:
# Ваш код тут
data.groupby('salary')['age'].agg([np.mean, np.std]).loc['>50K']

mean    44.249841
std     10.519028
Name: >50K, dtype: float64

### <span style="color:red; font-size:1.5em;">Завдання 5</span>

**Для варіантів 11-15:**

Яка частка людей, що подані в наборі даних, має вік в діапазоні [30; 50) років?

In [82]:
# Ваш код тут
(data['age'].apply(lambda x: "[30; 50)" if x >= 30 and x < 50 else "others").value_counts(normalize=True) * 100).round(2)

others      51.51
[30; 50)    48.49
Name: age, dtype: float64

### <span style="color:red; font-size:1.5em;">Завдання 6</span>


**Для варіантів 11-15:**

Скільки людей, що отримують <=50K, мають вищу освіту?

**Примітка:** вища освіта відповідає значенням ознаки *education* - Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters або Doctorate)

In [94]:
# Ваш код тут
data[(data['salary'] <= '<=50K') 
     & (data['education'].isin(['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']))].shape[0]

5981

### <span style="color:red; font-size:1.5em;">Завдання 7</span>

**Виведіть статистику віку для кожної раси (ознака *race*) та кожної статі (ознака *sex*). Використовуйте `groupby` і `describe`.**


**Для варіантів 11-15:**

Знайдіть у такий спосіб максимальний вік чоловіків раси *Black*.

In [108]:
# Ваш код тут
data.groupby(['race', 'sex'])['age'].describe().loc['Black', 'Male']['max']

90.0

### <span style="color:red; font-size:1.5em;">Завдання 8</span>

Для варіантів 11-15:

**Представники якої професії заробляють більше (>50K) (ознака *occupation*)?**


***Примітка:*** одруженими вважаємо тих, у кого *marital-status* починається з *Married* (Married-civ-spouse, Married-spouse-absent або Married-AF-spouse), інших вважаємо холостими.

In [141]:
# Ваш код тут
data[data['salary'] == '>50K']['occupation'].value_counts()

Exec-managerial      1968
Prof-specialty       1859
Sales                 983
Craft-repair          929
Adm-clerical          507
Transport-moving      320
Tech-support          283
Machine-op-inspct     250
Protective-serv       211
?                     191
Other-service         137
Farming-fishing       115
Handlers-cleaners      86
Armed-Forces            1
Priv-house-serv         1
Name: occupation, dtype: int64

### <span style="color:red; font-size:1.5em;">Завдання 9</span>

***Для всіх варіантів*: обрахуйте мінімальну та максимальну кількість робочих годин (ознака *hours-per-week*).**

**Для варіантів 11-15:**

Скільки людей працюють мінімальну кількість годин і який поміж них відсоток заробляє багато (>50K)?

In [143]:
min_hours = data['hours-per-week'].agg(["min"])['min']
data['hours-per-week'].agg(["max", "min"])

max    99
min     1
Name: hours-per-week, dtype: int64

In [130]:
# Ваш код тут
data[data['hours-per-week'] == min_hours]['salary'].value_counts(normalize=True) * 100

<=50K    90.0
>50K     10.0
Name: salary, dtype: float64

### <span style="color:red; font-size:1.5em;">Завдання 10</span>


**Для варіантів 11-15:**

Обрахуйте середній час роботи (*hours-per-week*) тих людей, хто заробляє мало і багато (*salary*) для обох статей (*sex*).

In [135]:
# Ваш код тут
data.groupby(['salary', 'sex'])['hours-per-week'].agg(['mean']).round()

               mean
salary sex
<=50K  Female  36.0
       Male    41.0
>50K   Female  40.0
       Male    46.0